<div class="jumbotron">
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class ="row"><div class='img-container'>
        <div class="col-md-7 text-left">
          <h1> Silence the noise!</h1>
        </div>
      </div></div>
    </div>

    <div class="item">
      <div class ="row"><div class='img-container'>
        <div class="col-md-7 text-left">
        <h1> Search the news!</h1>
        </div>
      </div></div>
    </div>

  </div>

</div>
</div>
