<nav class="navbar navbar-default searchStyles" role="navigation" ng-controller='controller1' >

  <div class="navbar">
    <form role="search">
      <div class="form-group ">
        <!-- The Revun search bar -->
        <input type="text" class="form-control " ng-model="userInput" />
        <!--Search buttons-->

        <button type="button" name="button" class="btn btn-secondary mainButton" ng-click='userSearchReverse(userInput)'>Filter Out Word</button>
        <button type="button" name="button" class="btn btn-secondary mainButton" ng-click='userSearchNorm(userInput)'>Search By Word</button>

        <!-- Button inside of the modal-->
          <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel1">Tell us your email!</h4>
                </div>

          <!-- Modal Body -->
          <div class="modal-body">
            <div class="input-group">

              <div class="row">
                <div class="col-lg-12">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Your Email" ng-model="userEmail">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" ng-click='sendEmail(userEmail)'>Email!</button>
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal Body Ends! -->
        </div>
      </div>
    </div>
    <!-- Button to launch email modal-->
    <button type="button" class="btn btn-secondary mainButton" data-toggle="modal" data-target="#emailModal">
      Inbox it!
    </button>

      </div>

    </form>
  </div>

</nav>
