
<div class="buttonArea">
    <div class = "toggle-title">

    </div>
    <!-- on button click this button switched the view and based on the current url/view it changes the class on the view buttons -->
    <button id='reverseSearchId' class="toggleButton btn btn-secondary mainButton" ng-class="{buttonSelected: currentView === 'reverseFilter'}" ng-click="reverseSelect()">Hide</button>
    <!-- on button click this button switched the view and based on the current url/view it changes the class on the view buttons -->
    <button id='normalSearchId' class="toggleButton btn btn-secondary mainButton" ng-class="{buttonSelected: currentView === 'normalFilter'}" ng-click="normalSelect()">Show</button>
</div>
